body {
    background-color: rgba(144, 146, 147, 0.663);
}

.container-fields,.container-input{
    width: 50%;
}

#fields {
    position: relative;
    width: 80%;
    margin: 5%; 
}
#input{
    position: relative;
    width: 90%;
    margin: 5%;
}
.list-group-item {
    background-color:transparent;
}